<%- include('../partials/header') %>


    <section id="plant-grid">
        <% plants.forEach(function(p) {  %>
            <div class="index-plant">
                <img src="<%= p.plantImg[0] %>" alt="<%= p.name %>" class="plant-img">
                <h2 id="index-plant-name"><a href="/plants/<%= p._id %>" id="plant-name"><%= p.name.toUpperCase(); %></a></h2>
                <h4 id="index-location"><%= p.location %></h4>
                <h4 id="index-price">$<%= p.price %></h4>
            </div>
        <% }); %>
    </section>
   



<%- include('../partials/footer') %>