<%- include('../partials/header') %>

<div id="sale-info">
    <h3 class="location"><%= plant.location %></h3>
    <h3 class="price">$<%= plant.price %></h3>
    <h3 id="availability">
        <% if (plant.stillAvailable == false) { %>
            <p><strong>THIS PLANT IS NO LONGER AVAILABLE</strong></p>
        <% } %>
    </h3>         
</div>
<section id="plant-listing">
    <div id="plant-photo">
        <img src="<%= plant.plantImg[0] %>" alt="<%= plant.name %>" class="show-plant-img">
    </div>
    <div id="edit-post">
        <form action="/plants/<%= plant._id %>?_method=DELETE" method="POST">
            <button class="delete-post">DELETE</button>
        </form>
        <form action="/plants/<%= plant._id %>/edit" method="GET">
            <button id="edit-btn">EDIT</button>
        </form>
    </div>
    <aside id="plant-info">
        <div><h3>PLANT DETAILS</h3></div>
        <ul>
            <li>
                <% if (plant.maintenance == 'low') { %>
                    <p><strong>Low</strong> Maintenance</p>
                <% } else { %>
                    <p><strong>High</strong> Maintenance</p>
                <% } %>
            </li>
            <li>
                <p>Requires <strong><%= plant.lightReq %></strong> sunlight</p>
            </li>
            <li>
               <p>Requires <strong><%= plant.waterReq %></strong> watering</p>
            </li>
            <li>
                <% if (plant.petSafe == true) { %>
                    <p>This plant is pet safe.</p>
                <% } else { %>
                    <p>This plant is <strong>not</strong> pet safe.</p>
                <% } %>
            </li>
        </ul>
    </aside>
    <div id="contact-purchase">
        <button id="purchase-btn">ADD TO CART</button>
        <button id="contact-btn">CONTACT SELLER</button>
    </div>
    <section id="comments">
        <h3>ADDITIONAL NOTES FROM SELLER</h3>
        <ul>
            <% plant.comments.forEach(function(c) { %>
            <li>
                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST" id="delete-comment">
                    <button type="submit" class="delete-post">X</button>
                </form>
                <%= c.content %>
            </li>
            <% }); %>
        </ul>
        <form action="/plants/<%= plant._id %>/comments" method="POST">
            <input type="text" name="content">
            <input type="submit" value="Add Comment" id="add-comment">
        </form>
    </section>
</section>




<%- include('../partials/footer') %>