<%- include('../partials/header') %>

<div class="plant-img">
    <img src="<%= plant.plantImg[0] %>" alt="<%= plant.name %>">
</div>
<form action="/plants/<%= plant._id %>?_method=DELETE" method="POST">
    <button class="delete-post">X</button>
</form>
<aside class="plant-info">
    <div><h3>Fast Facts</h3></div>
    <table>
        <tr>
            <td>Maintenance</td>
            <td><%= plant.maintenance %></td>
        </tr>
        <tr>
            <td>Light Requirement</td>
            <td><%= plant.lightReq %></td>
        </tr>
        <tr>
            <td>Water Requirement</td>
            <td><%= plant.waterReq %></td>
        </tr>
        <tr>
            <td>Pet Safe?</td>
            <td><%= plant.petSafe %></td>
        </tr>

    </table>
</aside>
<section class="comments">
    <h1>Daily Care Log</h1>
    <h3>Plant care can be as challenging as it is rewarding. Add comments below to keep track of the routines
        that keep your plant happy and healthy. Other plant owners can reference this log for guidance and/or offer
        advice for any challenges you may face.. </h3>
        <br><br><h3>Happy Growing!</h3>
        <br><br><p>No comments yet...</p>
    <form action="/plants/<%= plant._id %>/comments" method="POST">
        <label>Add Comment</label>
        <input type="text">
        <input type="submit">
    </form>
</section>



<%- include('../partials/footer') %>